In [16]:
import pandas as pd

df_imoveis = pd.read_csv("imoveis.csv")
df_imoveis

,ID_Imovel,Tipo,Bairro,Quartos,Banheiros,Vagas,Área,Valor,Status
0,101,Apartamento,Pinheiros,2,2,1.0,70,950000,Disponível
1,102,Casa,Moema,4,3,3.0,200,2800000,Vendido
2,103,Apartamento,Itaim Bibi,3,3,2.0,120,2100000,Disponível
3,104,Cobertura,Pinheiros,3,4,3.0,180,2500000,Disponível
4,105,Casa,Vila Madalena,5,4,4.0,350,4200000,Vendido
5,106,Apartamento,Itaim Bibi,1,1,0.0,45,600000,Disponível
6,107,Apartamento,Moema,2,2,2.0,85,1100000,Disponível
7,108,Casa,Pinheiros,3,2,2.0,150,1900000,Disponível
8,109,Cobertura,Vila Madalena,4,5,NaN,300,5100000,Vendido
9,110,Apartamento,Itaim Bibi,2,2,2.0,95,1350000,Disponível

In [17]:
df_imoveis["Vagas"] = df_imoveis["Vagas"].fillna(1)
df_imoveis

,ID_Imovel,Tipo,Bairro,Quartos,Banheiros,Vagas,Área,Valor,Status
0,101,Apartamento,Pinheiros,2,2,1.0,70,950000,Disponível
1,102,Casa,Moema,4,3,3.0,200,2800000,Vendido
2,103,Apartamento,Itaim Bibi,3,3,2.0,120,2100000,Disponível
3,104,Cobertura,Pinheiros,3,4,3.0,180,2500000,Disponível
4,105,Casa,Vila Madalena,5,4,4.0,350,4200000,Vendido
5,106,Apartamento,Itaim Bibi,1,1,0.0,45,600000,Disponível
6,107,Apartamento,Moema,2,2,2.0,85,1100000,Disponível
7,108,Casa,Pinheiros,3,2,2.0,150,1900000,Disponível
8,109,Cobertura,Vila Madalena,4,5,1.0,300,5100000,Vendido
9,110,Apartamento,Itaim Bibi,2,2,2.0,95,1350000,Disponível

In [18]:
imoveis_por_tipo_e_regiao = df_imoveis.drop(columns=["ID_Imovel", "Quartos", "Banheiros", "Vagas", "Área", "Status"])
imoveis_por_tipo_e_regiao

          Tipo         Bairro    Valor
0  Apartamento      Pinheiros   950000
1         Casa          Moema  2800000
2  Apartamento     Itaim Bibi  2100000
3    Cobertura      Pinheiros  2500000
4         Casa  Vila Madalena  4200000
5  Apartamento     Itaim Bibi   600000
6  Apartamento          Moema  1100000
7         Casa      Pinheiros  1900000
8    Cobertura  Vila Madalena  5100000
9  Apartamento     Itaim Bibi  1350000

In [21]:
imoveis_com_area_maior_que_100 = df_imoveis[df_imoveis["Área"] > 100]
imoveis_com_area_maior_que_100

,ID_Imovel,Tipo,Bairro,Quartos,Banheiros,Vagas,Área,Valor,Status
1,102,Casa,Moema,4,3,3.0,200,2800000,Vendido
2,103,Apartamento,Itaim Bibi,3,3,2.0,120,2100000,Disponível
3,104,Cobertura,Pinheiros,3,4,3.0,180,2500000,Disponível
4,105,Casa,Vila Madalena,5,4,4.0,350,4200000,Vendido
7,108,Casa,Pinheiros,3,2,2.0,150,1900000,Disponível
8,109,Cobertura,Vila Madalena,4,5,1.0,300,5100000,Vendido

In [24]:
df_imoveis["Valor_por_m2"] = round(df_imoveis["Valor"] / df_imoveis["Área"], 2)
df_imoveis

,ID_Imovel,Tipo,Bairro,Quartos,Banheiros,Vagas,Área,Valor,Status,Valor_por_m2
0,101,Apartamento,Pinheiros,2,2,1.0,70,950000,Disponível,13571.43
1,102,Casa,Moema,4,3,3.0,200,2800000,Vendido,14000.00
2,103,Apartamento,Itaim Bibi,3,3,2.0,120,2100000,Disponível,17500.00
3,104,Cobertura,Pinheiros,3,4,3.0,180,2500000,Disponível,13888.89
4,105,Casa,Vila Madalena,5,4,4.0,350,4200000,Vendido,12000.00
5,106,Apartamento,Itaim Bibi,1,1,0.0,45,600000,Disponível,13333.33
6,107,Apartamento,Moema,2,2,2.0,85,1100000,Disponível,12941.18
7,108,Casa,Pinheiros,3,2,2.0,150,1900000,Disponível,12666.67
8,109,Cobertura,Vila Madalena,4,5,1.0,300,5100000,Vendido,17000.00
9,110,Apartamento,Itaim Bibi,2,2,2.0,95,1350000,Disponível,14210.53

In [30]:
apartamentos_com_2_vagas_e_disponiveis = df_imoveis[(df_imoveis["Tipo"] == "Apartamento") & (df_imoveis["Vagas"] >= 2) & (df_imoveis["Status"] == "Disponível")]
apartamentos_com_2_vagas_e_disponiveis

,ID_Imovel,Tipo,Bairro,Quartos,Banheiros,Vagas,Área,Valor,Status,Valor_por_m2
2,103,Apartamento,Itaim Bibi,3,3,2.0,120,2100000,Disponível,17500.00
6,107,Apartamento,Moema,2,2,2.0,85,1100000,Disponível,12941.18
9,110,Apartamento,Itaim Bibi,2,2,2.0,95,1350000,Disponível,14210.53

In [35]:
pd.unique(df_imoveis["Bairro"])

array(['Pinheiros', 'Moema', 'Itaim Bibi', 'Vila Madalena'], dtype=object)

In [38]:
imoveis_com_vagas_diferente_de_um = df_imoveis[df_imoveis["Vagas"] != 1]
imoveis_com_vagas_diferente_de_um

,ID_Imovel,Tipo,Bairro,Quartos,Banheiros,Vagas,Área,Valor,Status,Valor_por_m2
1,102,Casa,Moema,4,3,3.0,200,2800000,Vendido,14000.00
2,103,Apartamento,Itaim Bibi,3,3,2.0,120,2100000,Disponível,17500.00
3,104,Cobertura,Pinheiros,3,4,3.0,180,2500000,Disponível,13888.89
4,105,Casa,Vila Madalena,5,4,4.0,350,4200000,Vendido,12000.00
5,106,Apartamento,Itaim Bibi,1,1,0.0,45,600000,Disponível,13333.33
6,107,Apartamento,Moema,2,2,2.0,85,1100000,Disponível,12941.18
7,108,Casa,Pinheiros,3,2,2.0,150,1900000,Disponível,12666.67
9,110,Apartamento,Itaim Bibi,2,2,2.0,95,1350000,Disponível,14210.53